<!doctype html>
<html lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes">

	<!-- PG크로스브라우징필수내용 -->
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<!-- //PG크로스브라우징필수내용 -->

	<title>지구력코어 | 제품 상세</title>
	<meta name="description" content="지구력코어 제품 상세. 건강기능식품 표시사항과 섭취 정보를 확인하세요.">

	<!--@css(/layout/basic/css/common.css)-->
	<!--@css(/layout/basic/css/layout.css)-->
	<!--@css(/layout/basic/css/ec-base-ui.css)-->
	<!--@css(/layout/basic/css/ec-base-button.css)-->
	<!--@css(/layout/basic/css/ec-base-tab.css)-->
	<!--@css(/layout/basic/css/ec-base-table.css)-->
	<!--@css(/layout/basic/css/ec-base-tooltip.css)-->
	<!--@css(/layout/basic/css/ec-base-help.css)-->
	<!--@css(/layout/basic/css/ec-base-fold.css)-->
	<!--@css(/layout/basic/css/ec-base-box.css)-->
	<!--@css(/layout/basic/css/ec-base-desc.css)-->
	<!--@css(/layout/basic/css/ec-base-product.css)-->
	<!--@css(/layout/basic/css/ec-base-prdInfo.css)-->
	<!--@css(/layout/basic/css/ec-base-paginate.css)-->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Noto+Sans+KR:wght@300;400;700;900&display=swap" rel="stylesheet">

	<!--@css(/layout/basic/css/swiper.min.css)-->
	<!--@js(/layout/basic/js/swiper-bundle.min.js)-->
	<!--@js(/js/module/product/sale_price.js)-->
	<!--@js(/layout/basic/js/basic.js)-->
	<!--@js(/layout/basic/js/layout.js)-->
	<!--@js(/js/common.js)-->
	<!--@js(/js/module/layout/quick_view.js)-->
	<!--@js(/ez/init.js)-->
</head>
<body id="detail" class="theme01 onroad-layout onroad-page onroad-detail" data-ez-theme="theme01">
	<div id="skipNavigation">
		<p><a href="#category">전체상품목록 바로가기</a></p>
		<p><a href="#contents">본문 바로가기</a></p>
	</div>

	<div id="wrap">
		<!--@import(/layout/basic/header.html)-->
		<!--@import(/layout/basic/sidebar.html)-->

		<div id="container" data-ez="layout-onroad-detail-container-1">
			<div id="contents">
				<!--@contents-->
				<span module="Layout_MobileAction" class="RTMB">
					<a href="#none" onclick="{$go_back}"><!--@import(/svg/icon-go-back.html)--><span>뒤로가기</span></a>
				</span>
			</div>
		</div>

		<!--@import(/layout/basic/quick.html)-->
		<!--@import(/layout/basic/footer.html)-->
	</div>

	<div class="layer_shadow" id="layer_shadow"></div>
	<div id="layoutDimmed" class="dimmed"></div>

	<!--@css(/layout/basic/css/sub_style.css)-->
	<!--@css(/layout/basic/css/sub_theme.css)-->
	<!--@css(/layout/basic/css/add_theme01.css)-->
	<!--@css(/layout/basic/css/add_theme02.css)-->
	<!--@css(/layout/basic/css/add_theme03.css)-->
	<!--@css(/layout/basic/css/add_theme04.css)-->
	<!--@css(/layout/basic/css/add_layout.css)-->
	<!--@css(/layout/basic/css/main.css)-->
	<!--@css(/layout/basic/css/onroad.css)-->
	<!--@js(/layout/basic/js/onroad-brand.js)-->
</body>
</html>
