<footer id="footer" class="site-footer onroad-page" data-ez="contents-enduriz-footer-1">
	<div class="site-footer__monogram" aria-hidden="true">
		<div class="site-footer__monogram-text">Onroad<sup>EST / 2026</sup></div>
	</div>

	<div class="site-footer__top" module="Layout_footer">
		<div>
			<div class="site-footer__brand">Onroad</div>
			<p class="site-footer__tagline">매일의 훈련과 오래 달리는 몸을 위한 지구력 루틴.</p>
		</div>

		<div class="site-footer__col">
			<h4>[ Product ]</h4>
			<ul>
				<li><a href="/product/detail.html?product_no=11">Endurance Core</a></li>
				<li><a href="/shopinfo/endurance-core.html">Campaign</a></li>
				<li><a href="/shopinfo/intake-guide.html">Intake Guide</a></li>
			</ul>
		</div>

		<div class="site-footer__col">
			<h4>[ Journal ]</h4>
			<ul>
				<li><a href="/journal/index.html">All Entries</a></li>
				<li><a href="/journal/journal-01-a.html">Pace Science</a></li>
			</ul>
		</div>

		<div class="site-footer__col">
			<h4>[ Support ]</h4>
			<ul>
				<li><a href="/shopinfo/health-functional.html">표시사항</a></li>
				<li><a href="/shopinfo/guide.html">이용안내</a></li>
				<li><a href="/member/login.html">Account</a></li>
			</ul>
		</div>

		<p class="site-footer__notice">
			옥타코사놀 함유. 지구력 증진에 도움을 줄 수 있음. 본 제품은 질병의 예방 및 치료를 위한 의약품이 아닙니다.
		</p>

		<p class="site-footer__copyright">Copyright © {$mall_name}. All Rights Reserved.</p>
	</div>

	<div class="site-footer__bottom">
		<div class="site-footer__legal">© 2026 Onroad. 본 제품은 질병의 예방 및 치료를 위한 의약품이 아닙니다.</div>
		<div>Made for Runners / Seoul</div>
	</div>
</footer>

<div module="Layout_SearchHeader" data-ez="contents-enduriz-search-1">
	<!--
		$product_page=/product/detail.html
		$category_page=/product/list.html
	-->
	<div class="title">Onroad Search</div>
	<fieldset>
		<legend>Search</legend>
		{$form.keyword}<button type="button" class="btnDelete">삭제</button><button type="button" class="btnSearch" onclick="{$action_search_submit}"><!--@import(/svg/icon-search.html)--> Search</button><ul class="autoDrop" id="{$search_auto_id}"></ul>
	</fieldset>
	<button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
</div>

<!--#ez="1/2"-->
