/** subpage_theme01 (지구력코어 Hero),(Webfont - Noto Sans KR) **/
.theme01,
.theme01 input,
.theme01 select,
.theme01 textarea,
.theme01 code,
.theme01 button {
	font-family: "Montserrat", "Noto Sans KR", Arial, sans-serif !important;
}

/* 버튼 */
.theme01 .xans-product-action .action_button .sub_sold,
.theme01 [class^='btnSubmit'],
.theme01 a[class^='btnSubmit'] {
	background: #1c69d4;
	color: #ffffff;
}

.theme01 [class^='btnNormal']:not(.disabled):hover,
.theme01 [class^='btnNormal']:not(.disabled).selected {
	border-color: #262626;
}

/* 최상단 배너 */
.theme01 .main_top_banner {
	background-color: #ffffff;
	color: #262626;
	border-bottom: 1px solid #d9d9d9;
}

.theme01 .main_top_banner .top_banner_box_inner .top_banner_text a {
	color: #262626;
	font-weight: 700;
}

/* 상단메뉴 */
.theme01 #header {
	background: #111111;
	border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.theme01 #header .inner .top_nav_box {
	background: #111111;
}

.theme01 #header .inner .top_nav_box .top_logo a,
.theme01 #header .inner .top_nav_box .top_category > ul > li > a,
.theme01 #header .inner .top_nav_box .top_mypage a {
	color: #ffffff;
}

.theme01 #header .inner .top_nav_box .top_category > ul > li > a:after {
	background-color: #ffffff;
}

/* 메인 탭상품 상품진열 */
.theme01 .main_product_category .main_product_inner .main_product_tab li .button:after {
	background-color: #1c69d4;
}

.theme01 .main_product_category .main_product_inner .main_product_tab li .button.active {
	color: #262626;
}

/* 슬라이드바 */
.theme01 .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
	background: #1c69d4;
}

/* 메인 지도 */
.theme01 .main_map {
	background-color: #f1f4ef;
}

.theme01 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a {
	background-color: transparent;
	border-color: #3f4b3b;
	color: #262626;
}

.theme01 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a:hover {
	background-color: #262626;
	color: #ffffff;
	border: 1px solid #262626;
}

/* 하단 */
.theme01 #footer {
	background: #111111;
	color: #bbbbbb;
}

.theme01 #footer a,
.theme01 #footer .title,
.theme01 #footer strong,
.theme01 #footer .bt_logo a {
	color: #ffffff;
}

/* 모바일 슬라이드 */
.theme01 #aside .navigation_member {
	background: #f1f4ef;
}

/* 목록페이지 중분류 */
.theme01 .ec-base-tab.typeMenu li a.button {
	background-color: #f1f4ef;
	border: 1px solid #f1f4ef;
}

.theme01 .ec-base-tab.typeMenu li.selected a.button {
	color: #262626;
	background-color: #ffffff;
	border: 1px solid #262626;
}

/* 상품 할인율 */
.theme01 .xans-product-detail .infoArea table .sale_box,
.theme01 .ec-base-product .prdList .thumbnail .sale_box {
	background-color: #1c69d4;
	color: #ffffff;
}
